body {
	background-image: url(bg.png);
	font-family: Tahoma;
}
		
#frame {
	background-color: rgba(255,200,200,0.3);
	margin: 0 auto;
	padding: 1px 0px 0px 0px;
	height: 605px;
	width: 1023px;
}
		
header nav ul {
	list-style-type: none;
	font-weight: bold;
	background-color: rgba(255,255,200,0.3);
	margin: 47px 12px -7px 12px;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
}
		
#content {
	display: flex;
	margin: 27px -5px -39px 12px;
}
		
nav li {
	margin: 3px 0px -3px 0px;
	padding: 0px 20px 0px 0px;
	float: left;
}
		
nav li a {
	display: block;
	color: black;
    text-align: center;
	text-decoration: none;
}
		
main{
	border: 1px black solid;
	background-color: rgba(200,200,255,0.3);
	width: 670px;
	height: 414px;
	padding: 9px 10px 0px 10px;
	margin: 0px 0px 0px 0px;
}
		
aside{
	border: 1px black solid;
	background-color: rgba(200,255,200,0.3);
	padding: 10px 10px 30px 10px;
	width: 287px;
	height: 384px;
}

aside article{
	background-color: rgba(200,200,200,0.6);
	padding: 0px 0px 4px 0px;
	margin: 0px 0px 0px 0px;
}

aside article p{
	padding: 0px 0px 0px 0px;
	margin: 32px 0px 0px 0px;
}

aside article h1{
	padding: 0px 0px 0px 0px;
	margin: 20px 0px 0px 0px;
}

main article {
	background-color: rgba(200,200,200,0.6);
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

main article p{
	padding: 0px 0px 0px 0px;
	margin: 32px 0px 0px 0px;
}
		
header{
	margin: -177px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

header h1{
	margin: 209px 0px -27px 0px;
}
		
footer {
	background-color: rgba(255,255,200,0.3);
	font-weight: bold;
	text-align: center;
	width: 1000px;
	margin: 40px 0px 0px 11px;
}